<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="speedtransfer.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ss.speedtransfer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="com.ss.speedtransfer.catalogContribution">
         <uri
               id="com.ss.speedtransfer.queryDefinitionSchema"
               name="http://com.ss.speedtransfer.schema/QueryDefinition.xsd"
               uri="schema/QueryDefinition.xsd">
         </uri>
         <uri
               id="com.ss.speedtransfer.dbConnectionSchema"
               name="http://com.ss.speedtransfer.schema/DBConnection.xsd"
               uri="schema/DBConnection.xsd">
         </uri>
         <uri
               id="com.ss.speedtransfer.sqlScratchPadSchema"
               name="http://com.ss.speedtransfer.schema/SQLScratchPad.xsd"
               uri="schema/SQLScratchPad.xsd">
         </uri>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            class="com.ss.speedtransfer.ui.wizard.NewQueryDefinitionWizard"
            hasPages="true"
            icon="resources/images/query_def.gif"
            id="com.ss.speedtransfer.newQueryDefinitionWizard"
            name="Query Definition">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="com.ss.speedtransfer.ui.wizard.NewDBConnectionWizard"
            hasPages="true"
            icon="resources/images/db_connection.png"
            id="com.ss.speedtransfer.newDbConnectionWizard"
            name="Database Connection">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="com.ss.speedtransfer.Perspective"
            id="com.ss.speedtransfer.mainPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ss.speedtransfer.mainPerspective">
         <view
               closeable="false"
               id="com.ss.speedtransfer.navigatorView"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.ss.speedtransfer.startView"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.ss.speedtransfer.queryResultView"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="stack"
               relative="com.ss.speedtransfer.startView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="com.ss.speedtransfer.queryResultView:*"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="stack"
               relative="com.ss.speedtransfer.queryResultView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="com.ss.speedtransfer.queryExcelResultView"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="stack"
               relative="com.ss.speedtransfer.startView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="com.ss.speedtransfer.queryExcelResultView:*"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="stack"
               relative="com.ss.speedtransfer.queryExcelResultView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="bottom"
               relative="com.ss.speedtransfer.navigatorView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.search.*"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="stack"
               relative="com.ss.speedtransfer.startView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ss.speedtransfer.ui.editor.querydef.QueryDefinitonEditor"
            extensions="xml"
            icon="resources/images/table_sql.png"
            id="com.ss.speedtransfer.queryEditor"
            name="SpeedTransfer Query Editor">
         <contentTypeBinding
               contentTypeId="com.ss.speedtransfer.queryContentType">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.ss.speedtransfer.ui.editor.querydef.SQLScratchPadEditor"
            extensions="xml"
            icon="resources/images/sql_editor.gif"
            id="com.ss.speedtransfer.sqlScratchPadEditor"
            name="SQL Scratch Pad">
         <contentTypeBinding
               contentTypeId="com.ss.speedtransfer.scratchPadContentType">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.ss.speedtransfer.ui.editor.dbcon.DBConnectionEditor"
            extensions="xml"
            icon="resources/images/db_connection.png"
            id="com.ss.speedtransfer.dbConnectionEditor"
            name="Database Connection Editor">
         <contentTypeBinding
               contentTypeId="com.ss.speedtransfer.dbConnectionContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="com.ss.speedtransfer.navigatorView"
            name="SpeedTransfer Query Navigator">
      </view>
            <view
            allowMultiple="false"
            class="com.ss.speedtransfer.ui.view.StartView"
            id="com.ss.speedtransfer.startView"
            name="Welcome"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.ss.speedtransfer.ui.view.QueryResultView"
            id="com.ss.speedtransfer.queryResultView"
            name="SpeedTransfer Query Result View"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="com.ss.speedtransfer.ui.view.QueryExcelResultView"
            id="com.ss.speedtransfer.queryExcelResultView"
            name="SpeedTransfer Query Excel Result View"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="com.ss.speedtransfer.ui.view.CommentsView"
            id="com.ss.speedtransfer.commentsView"
            name="Comments"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.ss.speedtransfer.navigatorView">
      </viewer>
      <viewerContentBinding
            viewerId="com.ss.speedtransfer.navigatorView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot ">
            </contentExtension>
            <contentExtension pattern="com.ss.speedtransfer.navigatorContentFilter">
            </contentExtension>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.ss.speedtransfer.navigatorView">
         <includes>
            <actionExtension
                  pattern="com.ss.speedtransfer.navigatorActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="com.ss.speedtransfer.navigatorView">
      </dragAssistant>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.ss.speedtransfer.NavigatorActionProvider"
            id="com.ss.speedtransfer.navigatorActionProvider">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="com.ss.speedtransfer.NavigatorContentFilter"
            id="com.ss.speedtransfer.navigatorContentFilter"
            name="SpeedTransfer Query Content"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
       	<menuContribution
            allPopups="true"
            locationURI="popup:com.ss.speedtransfer.navigatorView">
         <menu
               label="New">
            <command
                  commandId="com.ss.speedtransfer.newProjectCommand"
                  style="push">
            </command>
            <command
                  commandId="com.ss.speedtransfer.newFolderCommand"
                  style="push">
            </command>
            <command
                  commandId="com.ss.speedtransfer.newQueryCommand"
                  style="push">
            </command>
            <separator
                  name="com.ss.speedtransfer.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.ss.speedtransfer.newDBConnectionCommand"
                  style="push">
            </command>
         </menu>
         <separator
               name="com.ss.speedtransfer.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.ss.speedtransfer.setDefaultDB"
               style="push">
            <parameter
                  name="com.ss.speedtransfer.reset"
                  value="false">
            </parameter>
         </command>
         <command
               commandId="com.ss.speedtransfer.setDefaultDB"
               label="Reset Default Connection"
               style="push">
            <parameter
                  name="com.ss.speedtransfer.reset"
                  value="true">
            </parameter>
         </command>
         <separator
               name="com.ss.speedtransfer.separator4"
               visible="true">
         </separator>
         <menu
               icon="resources/images/execute.gif"
               label="Run Query">
            <command
                  commandId="com.ss.speedtransfer.runQueryToTableCommand"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="table">
               </parameter>
            </command>
            <command
                  commandId="com.ss.speedtransfer.runQueryToExcelCommand"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="excel">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <systemTest
                        property="com.ss.speedtransfer.excel.installed"
                        value="true">
                  </systemTest>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="com.ss.speedtransfer.separator3"
               visible="true">
         </separator>
         <menu
               icon="resources/images/export.gif"
               label="Export To">
            <command
                  commandId="com.ss.speedtransfer.exportToExcelCommand"
                  style="push">
            </command>
            <command
                  commandId="com.ss.speedtransfer.exportToPDFCommand"
                  style="push">
            </command>
            <command
                  commandId="com.ss.speedtransfer.exportToCSVCommand"
                  style="push">
            </command>
            <command
                  commandId="com.ss.speedtransfer.exportToDBCommand"
                  style="push">
            </command>
         </menu>
         <command
               commandId="com.ss.speedtransfer.creteExecutableCommand"
               style="push">
         </command>
         <separator
               name="com.ss.speedtransfer.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.ss.speedtransfer.showCommentsCommand"
               style="push">
         </command>
         <separator
               name="com.ss.speedtransfer.separator5"
               visible="true">
         </separator>
         <command
               commandId="com.ss.speedtransfer.refreshNavigatorCommand"
               style="push">
         </command>
         <command
               commandId="com.ss.speedtransfer.switchWorkspaceCommand"
               style="push"
               tooltip="Restart the application using a different workspace">
         </command>
         <separator
               name="com.ss.speedtransfer.separator6"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
        <menuContribution
              allPopups="true"
              locationURI="toolbar:com.ss.speedtransfer.navigatorView">
           <command
                 commandId="com.ss.speedtransfer.newFolderCommand"
                 style="push"
                 tooltip="Create a new folder">
           </command>
           <command
                 commandId="com.ss.speedtransfer.newDBConnectionCommand"
                 style="push"
                 tooltip="Create a new database connection">
           </command>
           <command
                 commandId="com.ss.speedtransfer.newQueryCommand"
                 style="push"
                 tooltip="Create a new query">
           </command>
           <separator
                 name="com.ss.speedtransfer.separator1"
                 visible="true">
           </separator>
           <command
                 commandId="com.ss.speedtransfer.exportCommand"
                 id="com.ss.speedtransfer.exportCommandPulldown"
                 style="pulldown">
           </command>
           <command
                 commandId="com.ss.speedtransfer.creteExecutableCommand"
                 style="push">
           </command>
           <separator
                 name="com.ss.speedtransfer.separator2"
                 visible="true">
           </separator>
           <command
                 commandId="com.ss.speedtransfer.runQueryCommand"
                 id="com.ss.speedtransfer.runQueryCommandPulldown"
                 style="pulldown">
           </command>
        </menuContribution>
        <menuContribution
              locationURI="menu:com.ss.speedtransfer.exportCommandPulldown">
           <command
                 commandId="com.ss.speedtransfer.exportToExcelCommand"
                 label="Export To Excel"
                 style="push">
           </command>
           <command
                 commandId="com.ss.speedtransfer.exportToPDFCommand"
                 label="Export To PDF"
                 style="push">
           </command>
           <command
                 commandId="com.ss.speedtransfer.exportToCSVCommand"
                 label="Export To CSV "
                 style="push">
           </command>
           <command
                 commandId="com.ss.speedtransfer.exportToDBCommand"
                 label="Export To Database"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              locationURI="menu:com.ss.speedtransfer.runQueryCommandPulldown">
           <command
                 commandId="com.ss.speedtransfer.runQueryToTableCommand"
                 style="radio">
              <parameter
                    name="org.eclipse.ui.commands.radioStateParameter"
                    value="table">
              </parameter>
           </command>
           <command
                 commandId="com.ss.speedtransfer.runQueryToExcelCommand"
                 style="radio">
              <parameter
                    name="org.eclipse.ui.commands.radioStateParameter"
                    value="excel">
              </parameter>
              <visibleWhen
                    checkEnabled="false">
                 <systemTest
                       property="com.ss.speedtransfer.excel.installed"
                       value="true">
                 </systemTest>
              </visibleWhen>
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:com.ss.speedtransfer.queryResultView">
           <command
                 commandId="com.ss.speedtransfer.adjustTableColumns"
                 style="push">
           </command>
           <separator
                 name="com.ss.speedtransfer.separator1"
                 visible="true">
           </separator>
           <command
                 commandId="com.ss.speedtransfer.toggleLazyLoadCommand"
                 style="toggle">
           </command>
        </menuContribution>
         <menuContribution allPopups="true" locationURI="popup:com.ss.speedtransfer.navigatorView?after=org.eclipse.ui.OpenFileAction">
  <command commandId="com.ss.speedtransfer.openWithXMLEditorCommand" style="push" /> 
  </menuContribution>
        
   </extension>
      <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Query Activity"
            id="com.ss.speedtransfer.activity"
            name="Query Activity">
      </activity>
      <category
            description="Query Activity Category"
            id="com.ss.speedtransfer.activityCategory"
            name="Query Activity Category">
      </category>
      <categoryActivityBinding
            activityId="com.ss.speedtransfer.activity"
            categoryId="com.ss.speedtransfer.activityCategory">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.debug.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.jdt.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.pde.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.compare.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.ui.externaltools.*">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.ui.edit.text.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.ui.navigate.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ss.speedtransfer.activity"
            pattern="org.eclipse.wst.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ss.speedtransfer.newProjectCommand"
            name="Project">
      </command>
      <command
            id="com.ss.speedtransfer.newFolderCommand"
            name="Folder">
      </command>
      <command
            id="com.ss.speedtransfer.newQueryCommand"
            name="Query">
      </command>
      <command
            id="com.ss.speedtransfer.newDBConnectionCommand"
            name="Database Connection">
      </command>
      <command
            id="com.ss.speedtransfer.runQueryCommand"
            name="Run Query">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:table"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
      <command
            defaultHandler="com.ss.speedtransfer.handlers.RunQueryHandler"
            id="com.ss.speedtransfer.runQueryToTableCommand"
            name="Run Query To Table">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.ss.speedtransfer.handlers.RunQueryHandler"
            id="com.ss.speedtransfer.runQueryToExcelCommand"
            name="Run Query To Excel">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.ss.speedtransfer.refreshNavigatorCommand"
            name="Refresh">
      </command>
      <command
            id="com.ss.speedtransfer.exportCommand"
            name="Export">
      </command>
      <command
            id="com.ss.speedtransfer.exportToExcelCommand"
            name="Excel">
      </command>
      <command
            id="com.ss.speedtransfer.exportToPDFCommand"
            name="PDF">
      </command>
      <command
            id="com.ss.speedtransfer.exportToCSVCommand"
            name="CSV">
      </command>
      <command
            id="com.ss.speedtransfer.exportToDBCommand"
            name="Database">
      </command>
      <command
            id="com.ss.speedtransfer.toggleLazyLoadCommand"
            name="Toggle Lazy Load">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.ss.speedtransfer.creteExecutableCommand"
            name="Create Windows Executable">
      </command>
      <command
            description="Automatically adjust the size of all columns"
            id="com.ss.speedtransfer.adjustTableColumns"
            name="Adjust columns">
      </command>
      <command
            id="com.ss.speedtransfer.openWithXMLEditorCommand"
            name="Open with XML editor">
      </command>
      <command
            description="Make this the default connection"
            id="com.ss.speedtransfer.setDefaultDB"
            name="Set as default connection">
         <commandParameter
               id="com.ss.speedtransfer.reset"
               name="reset"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.ss.speedtransfer.showCommentsCommand"
            name="Show comments">
      </command>
      <command
            id="com.ss.speedtransfer.switchWorkspaceCommand"
            name="Switch workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ss.speedtransfer.handlers.NewProjectHandler"
            commandId="com.ss.speedtransfer.newProjectCommand">
      </handler>
      <handler
        class="com.ss.speedtransfer.handlers.NewFolderHandler"
        commandId="com.ss.speedtransfer.newFolderCommand">
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.NewQueryHandler"
            commandId="com.ss.speedtransfer.newQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="com.ss.speedtransfer.studioVersion">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.NewDBConnectionHandler"
            commandId="com.ss.speedtransfer.newDBConnectionCommand">
         <enabledWhen>
            <reference
                  definitionId="com.ss.speedtransfer.studioVersion">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.RunQueryHandler"
            commandId="com.ss.speedtransfer.runQueryCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="com.ss.speedtransfer.executableEditor">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="and">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="com.ss.speedtransfer.queryContentType">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="com.ss.speedtransfer.scratchPadContentType">
                           </test>
                        </or>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.RefreshNavigatorHandler"
            commandId="com.ss.speedtransfer.refreshNavigatorCommand">
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ExportToExcelHandler"
            commandId="com.ss.speedtransfer.exportToExcelCommand">
         <enabledWhen>
            <reference
                  definitionId="com.ss.speedtransfer.executableDefinition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ExportToPDFHandler"
            commandId="com.ss.speedtransfer.exportToPDFCommand">
         <enabledWhen>
            <reference
                  definitionId="com.ss.speedtransfer.executableDefinition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ExportToCSVHandler"
            commandId="com.ss.speedtransfer.exportToCSVCommand">
         <enabledWhen>
            <reference
                  definitionId="com.ss.speedtransfer.executableDefinition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ExportToDBHandler"
            commandId="com.ss.speedtransfer.exportToDBCommand">
         <enabledWhen>
            <and>
               <reference
                     definitionId="com.ss.speedtransfer.executableDefinition">
               </reference>
               <reference
                     definitionId="com.ss.speedtransfer.studioVersion">
               </reference>
               <not>
                  <reference
                        definitionId="com.ss.speedtransfer.selectOnlyVersion">
                  </reference>
               </not>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.LastUsedExportHandler"
            commandId="com.ss.speedtransfer.exportCommand">
         <enabledWhen>
            <reference
                  definitionId="com.ss.speedtransfer.executableDefinition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ToggleLazyLoadHandler"
            commandId="com.ss.speedtransfer.toggleLazyLoadCommand">
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ExportToWindowsExecutableHandler"
            commandId="com.ss.speedtransfer.creteExecutableCommand">
         <enabledWhen>
            <and>
               <reference
                     definitionId="com.ss.speedtransfer.queryDefinition">
               </reference>
               <reference
                     definitionId="com.ss.speedtransfer.studioVersion">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.AdjustColumnSizeHandler"
            commandId="com.ss.speedtransfer.adjustTableColumns">
         <activeWhen>
            <reference
                  definitionId="com.ss.speedtransfer.resultViewDefinition">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.OpenWithXMLEditorHandler"
            commandId="com.ss.speedtransfer.openWithXMLEditorCommand">
         <enabledWhen>
         	<and>
             <reference
                   definitionId="com.ss.speedtransfer.studioVersion">
             </reference>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="com.ss.speedtransfer.queryContentType">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="com.ss.speedtransfer.scratchPadContentType">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="com.ss.speedtransfer.dbConnectionContentType">
                           </test>
                        </or>
                     </adapt>
                  </and>
               </iterate>
            </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.SetDefaultDBHandler"
            commandId="com.ss.speedtransfer.setDefaultDB">
         <enabledWhen>
            <and>
               <reference
                     definitionId="com.ss.speedtransfer.dbConnection">
               </reference>
               <reference
                     definitionId="com.ss.speedtransfer.studioVersion">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.ShowCommentsHandler"
            commandId="com.ss.speedtransfer.showCommentsCommand">
  <enabledWhen>
  <or>
   <reference
         definitionId="com.ss.speedtransfer.editor">
   </reference>
   <with variable="selection">
    <and>
       <count
             value="1">
       </count>
       <iterate
             operator="and">
          <or>
             <test
                   property="org.eclipse.core.resources.contentTypeId"
                   value="com.ss.speedtransfer.queryContentType">
             </test>
             <test
                   property="org.eclipse.core.resources.contentTypeId"
                   value="com.ss.speedtransfer.scratchPadContentType">
             </test>
             <test
                   property="org.eclipse.core.resources.contentTypeId"
                   value="com.ss.speedtransfer.dbConnectionContentType">
             </test>
          </or>
       </iterate>
    </and>
   </with>
   </or>
  </enabledWhen>

      </handler>
      <handler
            class="com.ss.speedtransfer.handlers.SwitchWorkspaceHandler"
            commandId="com.ss.speedtransfer.switchWorkspaceCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.ss.speedtransfer.newProjectCommand"
            icon="resources/images/new_project.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.newFolderCommand"
            icon="IMG_OBJ_FOLDER">
      </image>
      <image
            commandId="com.ss.speedtransfer.newQueryCommand"
            icon="resources/images/table_sql.png">
      </image>
      <image
            commandId="com.ss.speedtransfer.newDBConnectionCommand"
            icon="resources/images/db_connection.png">
      </image>
      <image
            commandId="com.ss.speedtransfer.refreshNavigatorCommand"
            icon="resources/images/refresh.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.exportCommand"
            icon="resources/images/export.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.exportToExcelCommand"
            icon="resources/images/excel.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.exportToPDFCommand"
            icon="resources/images/pdf.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.exportToCSVCommand"
            icon="resources/images/csv.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.exportToDBCommand"
            icon="resources/images/export_to_db.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.toggleLazyLoadCommand"
            icon="resources/images/lazyload.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.creteExecutableCommand"
            icon="resources/images/build_exec.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.adjustTableColumns"
            icon="resources/images/adjust_columns.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.showCommentsCommand"
            icon="resources/images/help.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.switchWorkspaceCommand"
            icon="resources/images/synced.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.runQueryCommand"
            icon="resources/images/execute.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.runQueryToTableCommand"
            icon="resources/images/execute.gif">
      </image>
      <image
            commandId="com.ss.speedtransfer.runQueryToExcelCommand"
            icon="resources/images/execute.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.ss.speedtransfer.projectOrFolderDefinition">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  operator="and">
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.ss.speedtransfer.queryDefinition">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  operator="and">
               <and>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="com.ss.speedtransfer.queryContentType">
                  </test>
               </and>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.ss.speedtransfer.dbConnection">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  operator="and">
               <and>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="com.ss.speedtransfer.dbConnectionContentType">
                  </test>
               </and>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.ss.speedtransfer.executableDefinition">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  operator="and">
               <and>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </and>
               <or>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="com.ss.speedtransfer.queryContentType">
                  </test>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="com.ss.speedtransfer.scratchPadContentType">
                  </test>
               </or>
            </iterate>
         </with>
      </definition>
            <definition
            id="com.ss.speedtransfer.executableEditor">
         <with
               variable="activePartId">
            <or>
               <equals
                     value="com.ss.speedtransfer.queryEditor">
               </equals>
               <equals
                     value="com.ss.speedtransfer.sqlScratchPadEditor">
               </equals>
            </or>
         </with>
      </definition>
            <definition
                  id="com.ss.speedtransfer.resultViewDefinition">
               <with
                     variable="activePartId">
                                          <equals
                           value="com.ss.speedtransfer.queryResultView">
                     </equals>
               </with>
            </definition>
            <definition
                  id="com.ss.speedtransfer.editor">
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="com.ss.speedtransfer.queryEditor">
                     </equals>
                     <equals
                           value="com.ss.speedtransfer.dbConnectionEditor">
                     </equals>
                     <equals
                           value="com.ss.speedtransfer.sqlScratchPadEditor">
                     </equals>
                  </or>
               </with>
            </definition>
            <definition
                  id="com.ss.speedtransfer.studioVersion">
               <systemTest
                     property="com.ss.speedtransfer.version"
                     value="studio">
               </systemTest>
            </definition>
            <definition
                  id="com.ss.speedtransfer.selectOnlyVersion">
               <systemTest
                     property="com.ss.speedtransfer.selectonly"
                     value="true">
               </systemTest>
            </definition>
      
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.ss.speedtransfer.queryContentType"
            name="SpeedTransfer Query Definition"
            priority="high">
         <describer
               class="com.ss.speedtransfer.util.StringMatcherContentProvider">
            <parameter
                  name="string"
                  value="&lt;queryDefinition">
            </parameter>
            <parameter
                  name="charsToRead"
                  value="1024">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.ss.speedtransfer.dbConnectionContentType"
            name="Database Connection"
            priority="high">
         <describer
               class="com.ss.speedtransfer.util.StringMatcherContentProvider">
            <parameter
                  name="string"
                  value="&lt;dbConnectionDefinition">
            </parameter>
            <parameter
                  name="charsToRead"
                  value="1024">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.ss.speedtransfer.scratchPadContentType"
            name="SQL Scratch Pad"
            priority="high">
         <describer
               class="com.ss.speedtransfer.util.StringMatcherContentProvider">
            <parameter
                  name="string"
                  value="&lt;sqlScratchPad">
            </parameter>
            <parameter
                  name="charsToRead"
                  value="1024">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.ss.speedtransfer.xmlFileContentType"
            name="XML File"
            priority="high">
         <describer
               class="com.ss.speedtransfer.util.StringMatcherContentProvider">
            <parameter
                  name="string"
                  value="&lt;">
            </parameter>
            <parameter
                  name="charsToRead"
                  value="1024">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="speedtransfer.application"
            name="SpeedTransfer">
         <property
               name="windowImages"
               value="icons/DataTool_16.png,icons/DataTool_32.png,icons/DataTool_48.png,icons/DataTool_128.png">
         </property>
         <property
               name="appName"
               value="SpeedTransfer">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ss.speedtransfer.runQueryCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="com.ss.speedtransfer.runQueryCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+T">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="table">
         </parameter>
      </key>
      <key
            commandId="com.ss.speedtransfer.runQueryCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="excel">
         </parameter>
      </key>
      <key
            commandId="com.ss.speedtransfer.showCommentsCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
      <key
            commandId="org.eclipse.ui.window.preferences"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
      <key
            commandId="com.ss.speedtransfer.switchWorkspaceCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+W">
      </key>
      <key
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
      <key
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.ss.speedtransfer.DefaultDBDecorator"
            id="com.ss.speedtransfer.defaultDBDecorator"
            label="Default DB Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.resources.variableResolvers">
      <variableResolver
            class="com.ss.speedtransfer.SSPathVariableResolver"
            variable="ECLIPSE_HOME">
      </variableResolver>
      <variableResolver
            class="com.ss.speedtransfer.SSPathVariableResolver"
            variable="PARENT_LOC">
      </variableResolver>
      <variableResolver
            class="com.ss.speedtransfer.SSPathVariableResolver"
            variable="WORKSPACE_LOC">
      </variableResolver>
   </extension>

</plugin>
